In [1]:
import pandas as pd

# Groupby & Aggregation

In [2]:
data = {
    "Department": ["IT", "HR", "IT", "HR", "Sales", "IT"],
    "Employee": ["A", "B", "C", "D", "E", "F"],
    "Salary": [50000, 40000, 60000, 45000, 30000, 55000]
}

df = pd.DataFrame(data)
print(df)

  Department Employee  Salary
0         IT        A   50000
1         HR        B   40000
2         IT        C   60000
3         HR        D   45000
4      Sales        E   30000
5         IT        F   55000

In [5]:
# groupby single column
df.groupby("Department").sum()

           Employee  Salary
Department
HR               BD   85000
IT              ACF  165000
Sales             E   30000

In [6]:
df.groupby("Department")["Salary"].mean()

Department
HR       42500.0
IT       55000.0
Sales    30000.0
Name: Salary, dtype: float64

In [7]:
df.groupby("Department")["Salary"].count()

Department
HR       2
IT       3
Sales    1
Name: Salary, dtype: int64