In [1]:
import pandas as pd

# Groupby & Aggregation

In [2]:
data = {
    "Department": ["IT", "HR", "IT", "HR", "Sales", "IT"],
    "Employee": ["A", "B", "C", "D", "E", "F"],
    "Salary": [50000, 40000, 60000, 45000, 30000, 55000]
}

df = pd.DataFrame(data)
print(df)

  Department Employee  Salary
0         IT        A   50000
1         HR        B   40000
2         IT        C   60000
3         HR        D   45000
4      Sales        E   30000
5         IT        F   55000